<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${selectTeamMsg != null}">
		<p th:text="${selectTeamMsg}"></p>
		<div th:if="${session.teamList != null}">
			<table>
				<tr>
					<th>チーム</th><th>選択する</th>
				</tr>
				<tr th:each="team : ${session.teamList}">
					<td th:text="${team.teamName}"></td>
					<td>
						<form th:action="@{/select-team-board}" method="post">
							<input type="submit" value="選択する">
							<input type="hidden" name="teamName" th:value="${team.teamName}">
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>	
	<div th:if="${ action == 'gameBoard'}">
		<table>
			<tr>
				<th>ホームチーム</th><th>アウェイチーム</th><th>日時</th><th>スコア</th><th>コメントを見る</th>
			</tr>
			<tr th:each="game : ${session.gameDtoList}">
				<div th:if="${game.homeTeamName == selectTeam}">
					<td th:text="${game.homeTeamName}"></td>			
					<td th:text="${game.awayTeamName}"></td>			
					<td th:text="${game.gameTime}"></td>			
					<td><span th:text="${game.homeScore}"></span>-<span th:text="${game.awayScore}"></span></td>
					<td>
						<form th:action="@{/select-game}" method="post">
							<button type="submit">この試合のコメントを見る</button>
							<input type="hidden" name="gameId" th:value="${game.gameId}">
						</form>
					</td>			
				</div>
			</tr>
		</table>
		
	</div>
</body>
</html>