<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<th>コメント</th><th>ユーザ名</th><th>投稿時間</th><th>likes</th>
		</tr>
		<tr th:each="comment : ${session.commentsList}">
			<div th:if="${comment.gameId == gameId}">
				<td th:text="${comment.commentContent}"></td>	
				<td th:text="${comment.userName}"></td>				
				<td th:text="${comment.createdAt}"></td>				
				<td>
					<form th:action="@{/add-like}" method="post">
						<input type="submit" value="❤">
						<span th:text="${comment.likes}"></span>
						<input type="hidden" name="commentId" th:value="${comment.commentId}">
						<input type="hidden" name="gameId" th:value="${gameId}">
					</form>
				</td>
			</div>
		</tr>
	</table>
	
	<p>この試合についてコメントを追加</p>
	<form th:action="@{/add-comment}" method="post">
		<textarea name="commentContent" placeholder="コメントを入力..." rows="4"></textarea>
		<button type="submit">コメントを追加</button>
		<input type="hidden" name="gameId" th:value="${gameId}">
	</form>
	
</body>
</html>