<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>

	<a th:href="@{/admin}">管理者画面へ</a>
	
	<h2>ログイン</h2>
	
	<div th:if="${msg != null}">
		<p th:text="${msg}"></p>
	</div>
	
    <form th:action="@{/login}" method="post">
		
        <label>ユーザー名:</label>
        <input type="text" name="userName" required>
		
        <label>パスワード:</label>
        <input type="password" name="password" required>
		
        <button type="submit">ログイン</button>
    </form>
	
	<a th:href="@{/create-user}">新規登録</a>
	
</body>
</html>
